html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #28394d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 5px 0 5px 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-big-div {
  padding-top: 30px;
}

.xplor-text-div {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
}

.xplor-here {
  color: #1b2433;
}

.xplor-city {
  font-size: 6rem;
  margin-bottom: 30px;
}

.accordion {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.accordion-item {
  width: 95%;
}

.accordion-button {
  background-color: #a4b7cd;
}

.accordion-body {
  background-color: #54677d;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.child {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 5px;
}

h5, p {
  color: #121925;
}

.card-header {
  width: 100%;
  text-align: center;
}

.pack-delete {
  background-color: #c6871e;
  padding: 0px 2px;
  font-size: 8px;
  position: relative;
  left: 5px;
}

.restaurant-card {
  width: 25%;
  height: 25%;
}

input[type=checkbox]:checked + label.strike-item {
  text-decoration: line-through;
}

.check-left {
  position: relative;
  left: -3px;
  top: 2px;
}

li.list-group-item {
  width: 100%;
}

.card {
  border-color: #c6871e;
}

.main-div {
  text-align: center;
}

.img-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
}

.details-header {
  background-color: #f7e2ab;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2em;
}

.flex-top {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-1 {
  width: 30%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px solid black;
}

.top-2 {
  width: 70%;
  margin-top: -70px;
}

.logo {
  top: 0;
  margin: 0%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font: 6em sans-serif;
  color: whitesmoke;
  display: inline-block;
}

.plan {
  font-size: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
}

.splash-landing {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  height: 700px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splash-landing span {
  margin-top: -80%;
  font-size: 2em;
  z-index: 1;
}

.splash-landing img {
  height: 100%;
  width: 100%;
  position: relative;
}

.splash-landing img::before {
  content: '';
  position: absolute;
  width: inherit;
  opacity: 0.9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/david.jpeg");
  background-color: rgba(0, 0, 0, 0.25);
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.suggestion {
  height: 100px;
  width: 80%;
  background: #F7E2AB;
  margin-bottom: -50px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.suggestion div {
  color: #28394D;
  font-weight: 700;
  font-size: 1.2em;
}

.splash-suggestion {
  margin-top: 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splash-suggestion h3 {
  text-align: center;
  font-size: 3em;
  margin: 0;
}

.h3-container {
  margin-bottom: 1.5em;
}

.destination-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.city-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 400px;
  padding: 5px;
}

.state {
  height: 300px;
  width: 300px;
  background: skyblue;
  text-align: center;
  margin-right: 50px;
}

.splash-choice {
  height: 300px;
  width: 150px;
  background: #F7E2AB;
  padding: 10px;
}

.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.attractions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5em;
}

.event-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.form-mrg {
  margin-top: 2em;
}

.event-details {
  height: 457px;
  width: 37%;
  background: #F7E2AB;
  margin-right: 125px;
}

.attractions {
  width: 100%;
  margin-top: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.attractions h3 {
  text-align: left;
  font-size: 3em;
  margin: 0;
}

.evt-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.atr-txt {
  color: white;
}

.event {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

.evt-details-img {
  height: 35%;
  background: skyblue;
}

.cuisine-container {
  margin-top: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cuisine-container h3 {
  text-align: left;
  font-size: 3em;
  margin: 0;
}

.category {
  height: 300px;
  width: 300px;
  background: skyblue;
  margin: 2.5em 2.5em 2.5em 0;
}

.food-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 2em;
}

.food-choice {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.food-details {
  height: 400px;
  width: 40%;
  background: #F7E2AB;
}

.food {
  height: 200px;
  width: 200px;
  background: #F7E2AB;
  margin: 0  10px 10px 0;
}

.food-details-img {
  height: 40%;
  background: skyblue;
}

.final-plan {
  margin-top: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.final-plan h3 {
  text-align: left;
  font-size: 3em;
  margin: 0;
}

.final-plan h1 {
  text-align: center;
  font-size: 5em;
  margin: 0;
}

.hero-wrapper {
  width: 100%;
  position: relative;
}

.hero-wrapper span {
  font-size: 2em;
}

.child-card .destination {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.access {
  background-color: #28394d;
}

.navbar-brand {
  color: white;
}
/*# sourceMappingURL=index.css.map */