.bottom-big-div {
  padding-top: 30px;
}


.xplor-text-div {
  align-self: flex-end;
  margin-bottom: 20px;
}

.xplor-here {
  color: #1b2433;
}

.xplor-city {
  font-size: 5rem;
  margin-bottom: 15px;
}

.accordion {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.accordion-item {
  width: 95%;
}

.accordion-button {
  background-color: #a4b7cd;
}

.accordion-body {
  background-color: #54677d;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

.child {
  align-items: baseline;
  margin: 5px;
}

p {
  // font-family: Arial, Helvetica, sans-serif;
  padding: 1px 5px;
  margin-bottom: 0;
}

.deets {
  width: 100%;
  text-align: center;
}

.btn-add {
  background-color: #c6871e;
  padding: 2px 8px;
  display: flex;
  text-align: center;
  align-self: center;
}
h5,p {
  color: #121925;
  text-align: center;
}

.card-header {
  width: 100%;
  text-align: center;
  padding: 6px 2px;
}

.pack-delete {
  background-color: #c6871e;
  padding: 0px 2px;
  font-size: 8px;
  position: relative;
  left: 5px;
}
.card-delete {
  background-color: #c6871e;
  padding: 2px 6px;
  font-size: 15px;
}

input[type=checkbox]:checked + label.strike-item{
  text-decoration: line-through;
}

.check-left {
  position: relative;
  left: -3px;
  top: 2px;
}

.list-card-div {
  width: 100%;
}

.card {
  border-color: #c6871e;
  padding: 5px;
  min-width: 250px;
}

.main-div {
  text-align: center;
  margin-bottom: 25px;
  
}


.card-img-top {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  // overflow: hidden;
}


.details-header {
  background-color: #80cbd3;
  height: 20em;
  display: flex;
  justify-content: center;
}

.footer {
  height: 50px;
}