.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.flex-top{
  width: 100%;
  height: 100%;
  display: flex;
}
.top-1{
  width: 30%;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 5px solid black;
}
.top-2{
  width: 70%;
  margin-top: -56px;
}
.logo{
  top: 0;
  margin: 0%;
  align-self: flex-start;
  font: 6em sans-serif;
  color: whitesmoke;
  display: inline-block;
}
.plan{
  font-size: 50px;
  align-self: flex-start;
  display: inline-block;
}
.splash-landing{
  align-self: flex-end;
  width: 100%;
  height: 500px;
  background: salmon;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.suggestion{
  height: 100px;
  width: 80%;
  background: skyblue;
  margin-bottom: -50px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.splash-suggestion{
  align-self: center;
  margin-top: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
      h3{
        text-align: center;
        font-size: 3em;
        margin: 0;
      }
}
.state{
  height: 300px;
  width: 300px;
  background: skyblue;
  text-align: center;
  margin-right: 50px;
}
.splash-choice{
  height: 300px;
  width: 150px;
  background: chocolate;
  padding: 10px;
}
.choice-container{
  display: flex;
  justify-content: space-around;
}
.attractions{
  display: flex;
  flex-direction: row;
  margin-top: 5em;
}
.event-container{
  width: 50%;
  background: cornflowerblue;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.event{
  height: 100px;
  width: 250px;
  background: crimson;
  margin:0  10px 10px 0;
}