
.child-card .destination{
  flex-direction: column;
}
.main-area {
  text-align: center;
}

.parent-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.child-div {
  align-items: baseline;
  margin: 15px;
}

.profile-text {
  font-size: 4em;
}

.trip-bottom-card {
  display: flex;
  justify-items:  center;
}

h3 {
  color: #121925;
}
.prof-trip-img-div {
  object-fit: cover;
  overflow: hidden;
}

.prof-trip-img {
  width: 100%;
}