
// Colors
$banana : #F7E2AB;
$windsor: #B05C0E;
$goldenrod: #C6871E;
$charcoal: #28394D;
$richblack: #121925;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Jockey+One&family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Jockey+One&family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Jockey+One&family=Marcellus&display=swap');

$head: 'Jockey One', sans-serif;
$h3:  'Marcellus', serif;
$text:  'Cinzel', serif;

// $title:
// $header: