
// Colors
$banana : #F7E2AB;
$windsor: #B05C0E;
$goldenrod: #C6871E;
$charcoal: #28394D;
$richblack: #121925;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

$head: 'Titillium Web', sans-serif;
$h3:  'Prata', serif;
$text:  'Prata', serif;

// $title:
// $header: