html {
  box-sizing: border-box;
  
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #28394d;
  color: white;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  width: max-content;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
        li{
          padding: 5px 0 5px 0;
        }
  }
}



#root{
  display: flex;
  flex-direction: column;
}