html {
  box-sizing: border-box;
  
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #28394d;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 30px;
  font-family: $text;
}


nav{
  width: max-content;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
        li{
          padding: 5px 0 5px 0;
        }
  }
}

span{
  font: $head;
}

#root{
  display: flex;
  flex-direction: column;
}
a,link{
  text-decoration: none;
}